html {
  position: relative;
  min-height: 100%;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
  margin-bottom: 60px;
  transition: none;
}
