@import url(http://fonts.googleapis.com/css?family=Raleway:300,500,700);

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #fafafa;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
  margin-bottom: 60px;
  transition: none;
}
